name: Label
on:
  pull_request:
    type: [labeled]
jobs:
  screencasts:
    # if: ${{ github.event.label.name == 'screencasts' }}
    name: Make screencasts
    runs-on: ubuntu-latest
#    container:
#     image: ghcr.io/zechris/asciinema-rec_script:1.1.0
#     credentials:
#       username: ${{ github.actor }}
#       password: ${{ github.token }}
#   steps:
#     - name: Checkout repository
#       uses: actions/checkout@v3
#     - uses: zechris/asciinema-rec_script@v1.1.0
