name: Release
on:
  push:
    branches:
      - main
jobs:
  build-tag-release:
    name: Build, tag, and release Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - uses: zechris/asciinema-rec_script@v1
      - name: Setup release please
        uses: google-github-actions/release-please-action@v3
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: simple
